<!-- Con este comando esta plantilla se integra en layout.html -->
{% extends 'layout.html' %}

<!-- Bloque para el título de la plantilla -->

{% block title %}

    Home

{% endblock %}

<!-- Contenido que irá al bloque de contenido del layout -->

{% block content %}

    <div class="container-fluid">
        <header>
            <div class="container">
                <h1 class="text-center">Bienvenido/a a Recetapp</h1>
                <p>Recetapp nació de la necesidad de poder ahorrar tiempo para poder hacer la lista de compras para la comida. También de la idea de poder hacer mejores recetas, más ricas, ahorrando tiempo y dinero. ¡Guten appetit!</p>
            </div>
        </header>
    </div>

    <div class="container">
        <h2>Recetapp es un proyecto hecho con <strong>Django</strong></h2>
        
        <p>Django de un framework web escrito en Python. Recetapp es un proyecto para poder practicar django y también para poder gestionar nuestras recetas y compras.</p>
    </div>


{% endblock %}
