<!-- Con este comando esta plantilla se integra en layout.html -->
{% extends 'layout.html' %}

<!-- Bloque para el título de la plantilla -->

{% block title %}

    Home

{% endblock %}

<!-- Contenido que irá al bloque de contenido del layout -->

{% block content %}

    <h2>Recetapp es un proyecto hecho con <strong>Django</strong></h2>
    
    <p>Django de un framework web escrito en Python. Recetapp es un proyecto para poder practicar django y también para poder gestionar nuestras recetas y compras.</p>


{% endblock %}
