
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetapp | {% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>¡Hola! Bienvenido/a a Recetapp</h1>
        <p>Recetap es una aplicación para gestionar tus recetas preferidas</p>
    </header>
    <nav>
        <!-- Barra de navegación -->
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'recetas' %}">Recetas</a>
        <a href="http://127.0.0.1:8000/admin/">Sitio de administrador</a>
    </nav>
    <main>
        
        {% block content %}

            <!-- Código que viene desde los templates -->

        {% endblock %}

        <footer>
            Recetapp | Derechos Reservados | {% now "d/m/y" %}
        </footer>

    </main>
</body>
</html>
