<!-- Con este comando esta plantilla se integra en layout.html -->
{% extends 'layout.html' %}

<!-- Bloque para el título de la plantilla -->

{% block title %}

    Recetas

{% endblock %}

<!-- Contenido que irá al bloque de contenido del layout -->

{% block content %}

    <div class="container">
        <div class="row">

            {% for receta in recetas %}
            
                <div class="col-xl-4 col-md-6 col-12">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">{{ receta.nombre }}</h5>
                          <p class="card-text">Descripción de la receta</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Tiempo:</b> {{ receta.tiempo }}</li>
                            <li class="list-group-item">
                                {% if receta.vegano == True %}
                                    <p><b>Es vegano:</b> Sí</p>
                                {% else %}
                                    <p><b>Es vegano:</b> No</p>
                                {% endif %}
                            </li>
                            {% for recetaingrediente in receta.recetaingrediente_set.all %}
                                <li class="list-group-item"><b>{{ recetaingrediente.cantidad }}</b> {{ recetaingrediente.ingrediente }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                
            {% endfor %}

        </div>
    </div>

{% endblock %}
