<!-- Con este comando esta plantilla se integra en layout.html -->
{% extends 'layout.html' %}

<!-- Bloque para el título de la plantilla -->

{% block title %}

    Recetas

{% endblock %}

<!-- Contenido que irá al bloque de contenido del layout -->

{% block content %}

    {% for receta in recetas %}

        <div class="receta">

            <h2>{{ receta.nombre }}</h2>

                <p><b>Tiempo:</b> {{ receta.tiempo }}</p>
                
                {% if receta.vegano == True %}
                    <p><b>Es vegano:</b> Sí</p>
                 {% else %}
                    <p><b>Es vegano:</b> No</p>
                {% endif %}

                {% for recetaingrediente in receta.recetaingrediente_set.all %}

                    <p><b>{{ recetaingrediente.cantidad }}</b> {{ recetaingrediente.ingrediente }}</p>

                {% endfor %}

        </div>

    {% endfor %}

{% endblock %}